html,
body {
    background-color: rgba(236, 199, 96, 0.8);
    width: auto;
}


/* Create a custom checkbox */

.checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: rgb(43, 93, 231);
}